.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
}
.container>span{
    color: var(--themeBrown);
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.social {
    display: flex;
    gap: 1.5rem;
}

.social>*{
    color: var(--themeSkin);
}
.social:hover{
    cursor: pointer;
}